.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;
  width: 100%;
  margin:0;

  background-color: var(--bg-color);
}

.bg-image {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skiplink {
  position: absolute;
  top: 0.5rem;
  left: -100%;

  padding: 0.5rem;

  color: #A30000;
  border: 1px solid #eee;
  border-radius: 2px;
}

.skiplink:focus {
  left: 50%;
}

