.home {
    padding: 1.5rem;
    margin: 2.5rem;

    height: 100%;
    width: 100%;
}

.home-title-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.home-title {
    grid-column: span 12;
    text-align: center;
}

.home-text {
    padding: 1rem;
    margin: 2rem 1rem;
    text-align: left;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.3);

    background-color: var(--other-bg-color);

    font-size: 1.25rem;
    opacity: 0.8;
    max-height: 100%;
    max-width: 100%;
}

@media screen and (min-width: 44rem) {

}