.modal::backdrop {
    background-color: rgb(0 0 0 / 0.9);
}

.buttons {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-email,
.label-confirm {
    display: block;

    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-email,
.input-confirm {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
}

.register__email,
.register__confirm {
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;
}

.register-email__error,.register-confirm__error {
    color: red;
    font-weight: bold;
}

.redbox {
    border: 2px solid red;
}